body {
  font-family: sans-serif;
  background-color: var(--primary-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #5b1201;
  --secondary-color: #ecad22;
}

h1 {
  color: var(--secondary-color);
  padding-left: 100px;
}

.container {
  max-width: 900px;
  margin: 50px auto;
  background-color: var(--primary-color);
  padding: 20px;
  border: solid 1px var(--secondary-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-item {
  border: solid 1px var(--secondary-color); /* Add border around the cart item */
  width: 1200px;
  margin-bottom: 10px; /* Add margin between cart items */
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 150px;
}

img {
  border: solid 1px var(--secondary-color);
  max-width: 80px;
  max-height: 80px;
  margin-right: 10px;
  border-radius: 4px;
}

.item-details {
  flex-grow: 1;
}
h3{
  margin-top: 15px;
  font-size: 15px;
  color: var(--secondary-color);
}
 p, label {
  font-size: 20px;
  color: white;
  margin:0px;
}

h3 {
  padding: 2px;
  font-size: 25px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

input {
  width: 30px;
  height: 30px;
  margin-right: 15px;
  cursor: pointer;
}

.remove-item-btn {
  font-size: 20px;
  height: 50px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: solid 1px var(--secondary-color);
  cursor: pointer;
}
#checkout-btn{
 margin-right: 120px;
 width: 180px;
  font-size: 20px;
  height: 50px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: solid 1px var(--secondary-color);
  
}
.remove-item-btn:hover, #checkout-btn:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

#checkout-btn {
  margin-left: auto;
  display: block;
  margin-top: 20px;
}
